{% load static %}
<html>
    <head>
         <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Welocme to our website</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="hero_area">
            <!-- header section strats -->
            <header class="header_section">
              <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'images/crt.png' %}" alt="">
                    <span>
                      Madhavi <br>jewellery
                    </span>
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
        
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                      <ul class="navbar-nav  ">
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'about' %}"> About</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'jewellery' %}">Jewellery </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'signup' %}">Sign In</a>
                        </li>
                      </ul>
        
                    </div>
                    <div class="quote_btn-container ">
                      <a href="">
                        <img src="{% static 'images/cart.png' %}" alt="">
                        <div class="cart_number">
                          
                        </div>
                      </a>
                    </div>
                  </div>
                </nav>
              </div>
            </header>
            {% block content %}
            {% endblock %}
            <section class="info_section ">
                <div class="container">
                  <div class="info_container">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="info_logo">
                          <a href="">
                            <img src="{% static 'images/crt.png' %}"style="width: 35px; margin:2px; "alt="">
                            <span style="font-size: 25px;">
                              Madhavi &nbsp;
                              Jewellery
                            </span>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="info_contact">
                          <a href="">
                            <img src="{% static 'images/location.png' %}" alt=""><br><br>
                            <span>
                              256/c tarsali market near jeevan prakash high school, vadodara,Gujarat.
                            </span>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="info_contact">
                          <a href="">
                            <img src="{% static 'images/phone.png' %}" alt=""><br><br>
                            <span>
                              +91 8848651642
                            </span>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="info_contact">
                          <a href="">
                            <img src="{% static 'images/mail.png' %}" alt=""><br><br>
                            <span>
                              Shravan3.2001@gmail.com
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="info_form">
                      <div class="d-flex justify-content-center">
                        <h5 class="info_heading">
                          Newsletter
                        </h5>
                      </div>
                      <form action="">
                        <div class="email_box">
                          <label for="email2">Enter Your Email</label>
                          <input type="text" id="email2">
                        </div>
                        <div>
                          <button>
                            subscribe
                          </button>
                        </div>
                      </form>
                    </div>
                    <div class="info_social">
                      <div class="d-flex justify-content-center">
                        <h5 class="info_heading">
                          Follow Us
                        </h5>
                      </div>
                      <div class="social_box">
                        <a href="">
                          <img src="{% static 'images/fb.png' %}" alt="">
                        </a>
                        <a href="">
                          <img src="{% static 'images/twitter.png' %}" alt="">
                        </a>
                        <a href="">
                          <img src="{% static 'images/linkedin.png' %}" alt="">
                        </a>
                        <a href="">
                          <img src="{% static 'images/insta.png' %}" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            
              <!-- end info_section -->
            
              <!-- footer section -->
              <section class="container-fluid footer_section">
              </section>
              <!-- footer section -->
            
              <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
              <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
              <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
              <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    </body>
</html>